<%- include('../partials/adminHeader') %>

    <%- include('../partials/adminSidebar') %>



        <div class="page-body">

            <!-- New Product Add Start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-8 m-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Category Information</h5>
                                        </div>

                                        <form class="theme-form theme-form-2 mega-form" method="post" action="" onclick="" id="categoryForm">
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                <div class="col-sm-9">
                                                    <!-- <input class="form-control" type="text" placeholder="Category Name" name="name"> -->
                                                    <input class="form-control" type="text" placeholder="Category Name" name="name" id="name">
                                            <small class="text-danger" id="nameError"></small>
                                                </div>
                                            </div>

                                         
                                         
                           

                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">Category Description</label>
                                                <div class="col-sm-9">
                                                    <!-- <input name="description" class="form-control" type="text" placeholder="Category Description"> -->
                                                    <input name="description" class="form-control" type="text" placeholder="Category Description" id="description">
                                                    <small class="text-danger" id="descriptionError"></small>
                                                </div>
                                            </div>

                                            <div class="col-6 col-lg-4 col-xl-2">
                                                <div class="btn-wrap"></div>
                                                  <!-- <button type="submit " class="btn btn-primary btn-round">submit</button> -->
                                                  <button type="submit" class="btn btn-primary btn-round" onclick="validateForm()">Submit</button>
                                                </div>
                                            

                                        </form> 

                                      


                                    </div>
                                </div>

                                <% if(typeof message !== 'undefined') { %> 
                                    <div class="alert alert-danger fade show mt-3" id="message" role="alert">
                                        <%- message %>
                                    </div>
                                
                           <%     }  %>

                           

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Product Add End -->

            <!-- footer Start -->
            <div class="container-fluid">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- footer En -->
        </div>
        <!-- Container-fluid End -->
        </div>
        <!-- Page Body End -->
        </div>
        <!-- page-wrapper End -->

      
        <!-- Modal Start -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                        <p>Are you sure you want to log out?</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        <div class="button-box">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->

        <script>
            const message = document.getElementById('message');

            const hide = ()=>{
                message.style.display = 'none' ;
            }
            setTimeout(hide, 3000)

            function validateForm() {
        const nameField = document.getElementById('name');
        const descriptionField = document.getElementById('description');

        const nameError = document.getElementById('nameError');
        const descriptionError = document.getElementById('descriptionError');

        // Reset previous error messages
        nameError.textContent = '';
        descriptionError.textContent = '';

        if (!nameField.value.trim()) {
            nameError.textContent = 'Please enter a valid category name.';
        }

        if (!descriptionField.value.trim()) {
            descriptionError.textContent = 'Please enter a valid category description.';
        }

        // Check if the form is valid
        if (nameError.textContent === '' && descriptionError.textContent === '') {
            // If the form is valid, submit it
            document.getElementById('categoryForm').submit();
        }
    }
        </script>


        <!-- latest js -->
        <script src="/assetsb/js/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap js -->
        <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>

        <!-- feather icon js -->
        <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
        <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>

        <!-- scrollbar simplebar js -->
        <script src="/assetsb/js/scrollbar/simplebar.js"></script>
        <script src="/assetsb/js/scrollbar/custom.js"></script>

        <!-- Sidebar js -->
        <script src="/assetsb/js/config.js"></script>

        <!-- bootstrap tag-input js -->
        <script src="/assetsb/js/bootstrap-tagsinput.min.js"></script>
        <script src="/assetsb/js/sidebar-menu.js"></script>

        <!-- customizer js -->
        <script src="/assetsb/js/customizer.js"></script>

        <!--Dropzon js -->
        <script src="/assetsb/js/dropzone/dropzone.js"></script>
        <script src="/assetsb/js/dropzone/dropzone-script.js"></script>

        <!-- Plugins js -->
        <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
        <script src="/assetsb/js/notify/index.js"></script>

        <!-- select2 js -->
        <script src="/assetsb/js/select2.min.js"></script>
        <script src="/assetsb/js/select2-custom.js"></script>

        <!-- sidebar effect -->
        <script src="/assetsb/js/sidebareffect.js"></script>

        <!-- Theme js -->
        <script src="/assetsb/js/script.js"></script>

        </body>


        <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/add-new-category.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:46 GMT -->

        </html>