<%- include('../partials/styleh') %>

              <div class="pt-5">
              
                <div class="form-box">
                    <div class="form-tab">
                        <h3>Sign Up</h3>
                        <div class="tab-content" id="tab-content-5" >
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="singin-name">Username *</label>
                                        <input type="text" class="form-control" id="singin-name"
                                            name="name" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-email">Email address *</label>
                                        <input type="email" class="form-control" id="singin-email"
                                            name="email" required>
                                    </div><!-- End .form-group -->

                                  <div>
                                        <label for="singin-mobile">Mobile *</label>
                                        <input type="text" class="form-control" id="singin-mno"
                                            name="mno" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password"
                                            name="password" required>
                                    </div><!-- End .form-group -->

                                    <!-- <div class="form-group">
                                        <label for="singin-confirm-password">Confirm Password *</label>
                                        <input type="password" class="form-control" id="singin-confirm-password"
                                            name="singin-confirm-password" required>
                                    </div>End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                
                           
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->        
</div>   